/* wui-datebox */

.wui-datebox,
.wui-datebox * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wui-datebox {
	width: 100%;
	height: 30px;
	margin: 0;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-image: none;
	background-size: var(--wui-datebox-pickerimage-size);
	padding-right: 2rem;
}
.wui-datebox > .inputs {
	display: flex;
	height: 100%;
	align-items: center;
}
.wui-datebox > .inputs > input[type="text"] {
	width: 20px;
	height: 100%;
	margin: 0;
	outline: none;
	border: 0;
	background-color: transparent;
	padding: 0;
	text-align: center;
	font-family: inherit;
	font-size: 14px;
}
.wui-datebox > .inputs > input[type="text"].year {
	width: 40px;
}
.wui-datebox > .inputs > span {
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.wui-datebox > .box,
.wui-datebox > .box * {
	display: flex;
}
.wui-datebox > .box {
	--shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	--filter: blur(10px);
	position: absolute;
	z-index: 1;
	width: 250px;
	height: 260px;
	height: 290px;
	-webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
	-webkit-border-radius: var(--wui-datebox-box-radius);
	-moz-border-radius: var(--wui-datebox-box-radius);
	border-radius: var(--wui-datebox-box-radius);
	border: 1px solid var(--wui-datebox-box-bordercolor);
	background-color: var(--wui-datebox-box-bgcolor);
	-webkit-backdrop-filter: var(--filter);
	-moz-backdrop-filter: var(--filter);
	backdrop-filter: var(--filter);
	flex-direction: column;
	padding: 5px;
}
.wui-datebox > .box.hidden {
	display: none;
}
.wui-datebox > .box.extended {
	height: 290px;
}
.wui-datebox > .box > .header {
	position: relative;
	height: 40px;
}
.wui-datebox > .box > .header > .period {
	cursor: pointer;
	padding: 10px 5px;
	font-size: 14px;
}
.wui-datebox > .box > .header > .period > .icon {
	width: 20px;
	height: 20px;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-moz-mask-size: contain;
	-moz-mask-repeat: no-repeat;
	-moz-mask-position: center;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: var(--wui-datebox-box-periodcolor-out);
}
.wui-datebox > .box > .header > .period:hover > .icon {
	background-color: var(--wui-datebox-box-periodcolor-over);
}
.wui-datebox > .box > .header > .period > .icon.up {
	-webkit-mask-image: var(--wui-datebox-box-periodimage-upsrc);
	-moz-mask-image: var(--wui-datebox-box-periodimage-upsrc);
	mask-image: var(--wui-datebox-box-periodimage-upsrc);
}
.wui-datebox > .box > .header > .period > .icon.down {
	-webkit-mask-image: var(--wui-datebox-box-periodimage-downsrc);
	-moz-mask-image: var(--wui-datebox-box-periodimage-downsrc);
	mask-image: var(--wui-datebox-box-periodimage-downsrc);
}
.wui-datebox > .box > .header > .prev,
.wui-datebox > .box > .header > .next {
	--transform: translateY(-50%);
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 26px;
	height: 26px;
	background-image: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	-webkit-transform: var(--transform);
	-moz-transform: var(--transform);
	transform: var(--transform);
}
.wui-datebox > .box > .header > .prev {
	right: 32px;
}
.wui-datebox > .box > .header > .next {
	right: 0;
}
.wui-datebox > .box > .months,
.wui-datebox > .box > .week,
.wui-datebox > .box > .days {
	display: grid;
	width: 100%;
}
.wui-datebox > .box > .months {
	grid-template-columns: repeat(6, 1fr);
}
.wui-datebox > .box > .months > div,
.wui-datebox > .box > .months > div > div {
	justify-content: center;
	align-items: center;
}
.wui-datebox > .box > .months > div:nth-child(13n+1) {
	grid-column: span 6;
}
.wui-datebox > .box > .months > div:nth-child(13n+1) > div {
	height: 36px;
	font-size: 14px;
	color: var(--wui-datebox-box-month-titlecolor);
}
.wui-datebox > .box > .months > div:nth-child(13n+2) > div,
.wui-datebox > .box > .months > div:nth-child(13n+3) > div,
.wui-datebox > .box > .months > div:nth-child(13n+4) > div,
.wui-datebox > .box > .months > div:nth-child(13n+5) > div,
.wui-datebox > .box > .months > div:nth-child(13n+6) > div,
.wui-datebox > .box > .months > div:nth-child(13n+7) > div,
.wui-datebox > .box > .months > div:nth-child(13n+8) > div,
.wui-datebox > .box > .months > div:nth-child(13n+9) > div,
.wui-datebox > .box > .months > div:nth-child(13n+10) > div,
.wui-datebox > .box > .months > div:nth-child(13n+11) > div,
.wui-datebox > .box > .months > div:nth-child(13n+12) > div,
.wui-datebox > .box > .months > div:nth-child(13n+13) > div {
	cursor: pointer;
	width: 39px;
	height: 32px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	text-transform: uppercase;
	font-size: 10px;
	color: var(--wui-datebox-box-month-textcolor-out);
}
.wui-datebox > .box > .months > div:not(:nth-child(13n+1)):hover > div {
	background-color: var(--wui-datebox-box-month-bgcolor-over);
	color: var(--wui-datebox-box-month-textcolor-over);
}
.wui-datebox > .box > .months > div:not(:nth-child(13n+1)) > div.today {
	background-color: var(--wui-datebox-box-month-bgcolor-today);
}
.wui-datebox > .box > .months > div:not(:nth-child(13n+1)) > div.selected {
	background-color: var(--wui-datebox-box-month-bgcolor-selected) !important;
	color: var(--wui-datebox-box-month-textcolor-selected) !important;
}
.wui-datebox > .box > .week,
.wui-datebox > .box > .days {
	grid-template-columns: repeat(7, 1fr);
}
.wui-datebox > .box > .week > div {
	padding: 2px 5px;
	text-transform: uppercase;
	font-size: 10px;
	color: #888;
}
.wui-datebox > .box > .days > div,
.wui-datebox > .box > .days > div > div {
	justify-content: center;
	align-items: center;
}
.wui-datebox > .box > .days > div > div {
	cursor: pointer;
	width: 32px;
	height: 32px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 12px;
	color: var(--wui-datebox-box-day-textcolor-out);
}
.wui-datebox > .box > .days > div:hover > div {
	background-color: var(--wui-datebox-box-day-bgcolor-over);
	color: var(--wui-datebox-box-day-textcolor-over);
}
.wui-datebox > .box > .days > div > div.today {
	background-color: var(--wui-datebox-box-day-bgcolor-today);
}
.wui-datebox > .box > .days > div > div.selected {
	background-color: var(--wui-datebox-box-day-bgcolor-selected) !important;
	color: var(--wui-datebox-box-day-textcolor-selected) !important;
}
.wui-datebox > .box > .footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	border-top: 1px solid var(--wui-datebox-box-bordercolor);
	justify-content: space-between;
	font-size: 14px;
}
.wui-datebox > .box > .footer > div {
	cursor: pointer;
	padding: 5px 10px;
	text-transform: lowercase;
	color: var(--wui-datebox-box-buttons-textcolor-out);
}
.wui-datebox > .box > .footer > div:hover {
	color: var(--wui-datebox-box-buttons-textcolor-over);
}
@media screen and (max-width: 767px) {
	.wui-datebox > input[type="text"] {
		font-size: 15px;
	}
	.wui-datebox > .box {
		--transform: translate(-50%, -50%);
		position: fixed;
		top: 50%;
		left: 50%;
		width: 300px;
		height: 310px;
		height: 348px;
		-webkit-transform: var(--transform);
		-moz-transform: var(--transform);
		transform: var(--transform);
	}
	.wui-datebox > .box.extended {
		height: 348px;
	}
	.wui-datebox > .box > .header {
		height: 50px;
	}
	.wui-datebox > .box > .header > .period {
		padding: 15px 5px;
		font-size: 17px;
	}
	.wui-datebox > .box > .header > .period > .icon {
		width: 22px;
		height: 22px;
	}
	.wui-datebox > .box > .header > .prev,
	.wui-datebox > .box > .header > .next {
		width: 32px;
		height: 32px;
	}
	.wui-datebox > .box > .header > .prev {
		right: 42px;
	}
	.wui-datebox > .box > .months > div:nth-child(13n+1) > div {
		height: 46px;
		font-size: 17px;
	}
	.wui-datebox > .box > .months > div:nth-child(13n+2) > div,
	.wui-datebox > .box > .months > div:nth-child(13n+3) > div,
	.wui-datebox > .box > .months > div:nth-child(13n+4) > div,
	.wui-datebox > .box > .months > div:nth-child(13n+5) > div,
	.wui-datebox > .box > .months > div:nth-child(13n+6) > div,
	.wui-datebox > .box > .months > div:nth-child(13n+7) > div,
	.wui-datebox > .box > .months > div:nth-child(13n+8) > div,
	.wui-datebox > .box > .months > div:nth-child(13n+9) > div,
	.wui-datebox > .box > .months > div:nth-child(13n+10) > div,
	.wui-datebox > .box > .months > div:nth-child(13n+11) > div,
	.wui-datebox > .box > .months > div:nth-child(13n+12) > div,
	.wui-datebox > .box > .months > div:nth-child(13n+13) > div {
		width: 48px;
		height: 36px;
		-webkit-border-radius: 18px;
		-moz-border-radius: 18px;
		border-radius: 18px;
		font-size: 12px;
	}
	.wui-datebox > .box > .week > div {
		padding: 2px 5px;
		font-size: 12px;
	}
	.wui-datebox > .box > .days > div > div {
		width: 36px;
		height: 38px;
		font-size: 15px;
	}
	.wui-datebox > .box > .footer {
		height: 40px;
		font-size: 17px;
	}
	.wui-datebox > .box > .footer > div {
		padding: 10px 15px;
	}
}