/* wui-datebox */

.wui-datebox,
.wui-datebox * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wui-datebox,
.wui-datebox > input[type="date"] {
	width: 100%;
	margin: 0;
	border: 0;
	background-color: transparent;
}
.wui-datebox > input[type="date"] {
	outline: none;
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-image: none;
	background-size: var(--wui-datebox-pickerimage-size);
	padding-right: 2rem;
	font-family: inherit;
	font-size: 14px;
}
.wui-datebox > input[type="date"]::-webkit-calendar-picker-indicator {
	display: none;
	background: none;
}
.wui-datebox > .calendar,
.wui-datebox > .calendar * {
	display: flex;
}
.wui-datebox > .calendar {
	--shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	--filter: blur(10px);
	position: absolute;
	z-index: 1;
	width: 250px;
	height: 260px;
	-webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
	-webkit-border-radius: var(--wui-datebox-calendar-radius);
	-moz-border-radius: var(--wui-datebox-calendar-radius);
	border-radius: var(--wui-datebox-calendar-radius);
	border: 1px solid var(--wui-datebox-calendar-bordercolor);
	background-color: var(--wui-datebox-calendar-bgcolor);
	-webkit-backdrop-filter: var(--filter);
	-moz-backdrop-filter: var(--filter);
	backdrop-filter: var(--filter);
	flex-direction: column;
	padding: 5px;
}
.wui-datebox > .calendar.hidden {
	display: none;
}
.wui-datebox > .calendar > .header {
	position: relative;
	height: 40px;
}
.wui-datebox > .calendar > .header > .period {
	cursor: pointer;
	padding: 10px 5px;
}
.wui-datebox > .calendar > .header > .period > .icon {
	width: 20px;
	height: 20px;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-position: center;
	-moz-mask-repeat: no-repeat;
	mask-position: center;
	mask-repeat: no-repeat;
	background-color: var(--wui-datebox-calendar-periodcolor-out);
}
.wui-datebox > .calendar > .header > .period:hover > .icon {
	background-color: var(--wui-datebox-calendar-periodcolor-over);
}
.wui-datebox > .calendar > .header > .period > .icon.up {
	-webkit-mask-image: var(--wui-datebox-calendar-periodimage-upsrc);
	-moz-mask-image: var(--wui-datebox-calendar-periodimage-upsrc);
	mask-image: var(--wui-datebox-calendar-periodimage-upsrc);
}
.wui-datebox > .calendar > .header > .period > .icon.down {
	-webkit-mask-image: var(--wui-datebox-calendar-periodimage-downsrc);
	-moz-mask-image: var(--wui-datebox-calendar-periodimage-downsrc);
	mask-image: var(--wui-datebox-calendar-periodimage-downsrc);
}
.wui-datebox > .calendar > .header > .prev,
.wui-datebox > .calendar > .header > .next {
	position: absolute;
	top: 0;
	width: 32px;
	height: 40px;
	background-repeat: no-repeat;
	background-image: none;
	background-position-x: center;
	background-position-y: center;
}
.wui-datebox > .calendar > .header > .prev {
	right: 32px;
	background-size: var(--wui-datebox-calendar-previmage-size);
}
.wui-datebox > .calendar > .header > .next {
	right: 0;
	background-size: var(--wui-datebox-calendar-nextimage-size);
}
.wui-datebox > .calendar > .months,
.wui-datebox > .calendar > .week,
.wui-datebox > .calendar > .days {
	display: grid;
	width: 100%;
}
.wui-datebox > .calendar > .months {
	grid-template-columns: repeat(6, 1fr);
}
.wui-datebox > .calendar > .months > div,
.wui-datebox > .calendar > .months > div > div {
	justify-content: center;
	align-items: center;
}
.wui-datebox > .calendar > .months > div:nth-child(13n+1) {
	grid-column: span 6;
}
.wui-datebox > .calendar > .months > div:nth-child(13n+1) > div {
	height: 24px;
	color: var(--wui-datebox-calendar-month-titlecolor);
}
.wui-datebox > .calendar > .months > div:nth-child(13n+2) > div,
.wui-datebox > .calendar > .months > div:nth-child(13n+3) > div,
.wui-datebox > .calendar > .months > div:nth-child(13n+4) > div,
.wui-datebox > .calendar > .months > div:nth-child(13n+5) > div,
.wui-datebox > .calendar > .months > div:nth-child(13n+6) > div,
.wui-datebox > .calendar > .months > div:nth-child(13n+7) > div,
.wui-datebox > .calendar > .months > div:nth-child(13n+8) > div,
.wui-datebox > .calendar > .months > div:nth-child(13n+9) > div,
.wui-datebox > .calendar > .months > div:nth-child(13n+10) > div,
.wui-datebox > .calendar > .months > div:nth-child(13n+11) > div,
.wui-datebox > .calendar > .months > div:nth-child(13n+12) > div,
.wui-datebox > .calendar > .months > div:nth-child(13n+13) > div {
	cursor: pointer;
	width: 39px;
	height: 32px;
	-webkit-border-top-left-radius: 16px;
	-webkit-border-top-right-radius: 16px;
	-webkit-border-bottom-left-radius: 16px;
	-webkit-border-bottom-right-radius: 16px;
	-moz-border-radius-topleft: 16px;
	-moz-border-radius-topright: 16px;
	-moz-border-radius-bottomleft: 16px;
	-moz-border-radius-bottomright: 16px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	text-transform: uppercase;
	font-size: 10px;
	color: var(--wui-datebox-calendar-month-textcolor-out);
}
.wui-datebox > .calendar > .months > div:not(:nth-child(13n+1)):hover > div {
	background-color: var(--wui-datebox-calendar-month-bgcolor-over);
	color: var(--wui-datebox-calendar-month-textcolor-over);
}
.wui-datebox > .calendar > .months > div:not(:nth-child(13n+1)) > div.today {
	background-color: var(--wui-datebox-calendar-month-bgcolor-today);
}
.wui-datebox > .calendar > .months > div:not(:nth-child(13n+1)) > div.selected {
	background-color: var(--wui-datebox-calendar-month-bgcolor-selected) !important;
	color: var(--wui-datebox-calendar-month-textcolor-selected) !important;
}
.wui-datebox > .calendar > .week,
.wui-datebox > .calendar > .days {
	grid-template-columns: repeat(7, 1fr);
}
.wui-datebox > .calendar > .week > div {
	padding: 2px 5px;
	text-transform: uppercase;
	font-size: 10px;
	color: #888;
}
.wui-datebox > .calendar > .days > div,
.wui-datebox > .calendar > .days > div > div {
	justify-content: center;
	align-items: center;
}
.wui-datebox > .calendar > .days > div > div {
	cursor: pointer;
	width: 32px;
	height: 32px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 12px;
	color: var(--wui-datebox-calendar-day-textcolor-out);
}
.wui-datebox > .calendar > .days > div:hover > div {
	background-color: var(--wui-datebox-calendar-day-bgcolor-over);
	color: var(--wui-datebox-calendar-day-textcolor-over);
}
.wui-datebox > .calendar > .days > div > div.today {
	background-color: var(--wui-datebox-calendar-day-bgcolor-today);
}
.wui-datebox > .calendar > .days > div > div.selected {
	background-color: var(--wui-datebox-calendar-day-bgcolor-selected) !important;
	color: var(--wui-datebox-calendar-day-textcolor-selected) !important;
}
.wui-datebox > .calendar > .footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	border-top: 1px solid var(--wui-datebox-calendar-bordercolor);
	justify-content: space-between;
}
.wui-datebox > .calendar > .footer > div {
	cursor: pointer;
	padding: 5px 10px;
	text-transform: lowercase;
	color: var(--wui-datebox-calendar-buttons-textcolor-out);
}
.wui-datebox > .calendar > .footer > div:hover {
	color: var(--wui-datebox-calendar-buttons-textcolor-over);
}
@media screen and (max-width: 599px) {
	.wui-datebox > input[type="date"] {
		font-size: 15px;
	}
}