/* wui-intencity */

.wui-intencity {
	display: flex;
	width: 120px;
	height: var(--wui-intencity-height);
	overflow: hidden;
	-webkit-border-radius: var(--wui-intencity-radius);
	-moz-border-radius: var(--wui-intencity-radius);
	border-radius: var(--wui-intencity-radius);
	border: 1px solid #ccc;
	align-items: center;
}
.wui-intencity > input[type="range"] {
	cursor: pointer;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: whitesmoke;
}
.wui-intencity > input[type="range"]::-webkit-slider-runnable-track {
	height: var(--wui-intencity-height);
}
.wui-intencity > input[type="range"]::-moz-range-track {
	height: var(--wui-intencity-height);
}
.wui-intencity > input[type="range"]::-webkit-slider-thumb {
	width: 30px;
	height: var(--wui-intencity-height);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #5cd5eb;
}
.wui-intencity > input[type="range"]::-moz-range-thumb {
	width: 30px;
	height: var(--wui-intencity-height);
	background-color: #5cd5eb;
}
.wui-intencity.none input[type="range"]::-webkit-slider-thumb {
	box-shadow: -407px 0 0 400px whitesmoke;
}
.wui-intencity.none input[type="range"]::-moz-range-thumb {
	box-shadow: -407px 0 0 400px whitesmoke;
}
.wui-intencity.low input[type="range"]::-webkit-slider-thumb {
	box-shadow: -407px 0 0 400px gold;
}
.wui-intencity.low input[type="range"]::-moz-range-thumb {
	box-shadow: -407px 0 0 400px gold;
}
.wui-intencity.half input[type="range"]::-webkit-slider-thumb {
	box-shadow: -407px 0 0 400px darkorange;
}
.wui-intencity.half input[type="range"]::-moz-range-thumb {
	box-shadow: -407px 0 0 400px darkorange;
}
.wui-intencity.high input[type="range"]::-webkit-slider-thumb {
	box-shadow: -407px 0 0 400px orangered;
}
.wui-intencity.high input[type="range"]::-moz-range-thumb {
	box-shadow: -407px 0 0 400px orangered;
}