/* wui-datebox */

.wui-datebox,
.wui-datebox * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wui-datebox,
.wui-datebox > input[type="date"] {
	width: 100%;
	margin: 0;
	border: 0;
	background-color: transparent;
}
.wui-datebox > input[type="date"] {
	outline: none;
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-image: var(--wui-datebox-pickerimage-out);
	background-size: var(--wui-datebox-pickerimage-size);
	padding-right: 2rem;
	font-family: inherit;
	font-size: 14px;
}
.wui-datebox > input[type="date"]::-webkit-calendar-picker-indicator {
	background: none;
}
.wui-datebox > .calendar,
.wui-datebox > .calendar > .head,
.wui-datebox > .calendar > .head > .period,
.wui-datebox > .calendar > .body,
.wui-datebox > .calendar > .body > .week,
.wui-datebox > .calendar > .body > .week > div,
.wui-datebox > .calendar > .body > .days,
.wui-datebox > .calendar > .body > .days > div,
.wui-datebox > .calendar > .footer {
	display: flex;
}
.wui-datebox > .calendar {
	--shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	--filter: blur(10px);
	--day-width: 30px;
	--day-height: 30px;
	position: absolute;
	z-index: 1;
	-webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
	-webkit-border-radius: var(--wui-datebox-calendar-radius);
	-moz-border-radius: var(--wui-datebox-calendar-radius);
	border-radius: var(--wui-datebox-calendar-radius);
	border: 1px solid var(--wui-datebox-calendar-bordercolor);
	background-color: var(--wui-datebox-calendar-bgcolor);
	-webkit-backdrop-filter: var(--filter);
	-moz-backdrop-filter: var(--filter);
	backdrop-filter: var(--filter);
	flex-direction: column;
}
.wui-datebox > .calendar > .head {
	height: 24px;
}
.wui-datebox > .calendar > .body {
	width: calc(7 * var(--day-width));
	flex-direction: column;
}
.wui-datebox > .calendar > .body > .week,
.wui-datebox > .calendar > .body > .days {
	flex-wrap: wrap;
}
.wui-datebox > .calendar > .body > .week {
	height: 20px;
}
.wui-datebox > .calendar > .body > .week > div {
	width: var(--day-width);
	text-transform: uppercase;
	color: #888;
}
.wui-datebox > .calendar > .body > .days {
	height: 120px;
}
.wui-datebox > .calendar > .body > .days > div {
	width: var(--day-width);
	height: var(--day-height);
}
.wui-datebox > .calendar > .footer {
	height: 24px;
	border-top: 1px solid var(--wui-datebox-calendar-bordercolor);
}
@media screen and (max-width: 599px) {
	.wui-datebox > input[type="date"] {
		font-size: 15px;
	}
}