/* wui-datebox */

.wui-datebox,
.wui-datebox * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wui-datebox > input[type="date"] {
	outline: none;
	border: 0;
	background-color: transparent;
	font-family: inherit;
	font-size: 14px;
}
.wui-datebox > input[type="date"]:before {
	content: "";
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 0;
	width: var(--wui-datebox-pickerimage-size);
	height: var(--wui-datebox-pickerimage-size);
	background-repeat: no-repeat;
	background-image: var(--wui-datebox-pickerimage-out);
	background-size: var(--wui-datebox-pickerimage-size);
}
.wui-datebox > input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
.wui-datebox:hover > input[type="date"]:enabled:before,
.wui-datebox:focus-within > input[type="date"]:enabled:before {
	background-image: var(--wui-datebox-pickerimage-focus);
}
.wui-datebox:hover > input[type="date"]:disabled:before,
.wui-datebox:focus-within > input[type="date"]:disabled:before {
	background-image: var(--wui-datebox-pickerimage-disabled) !important;
}
.wui-datebox > .calendar,
.wui-datebox > .calendar > .head,
.wui-datebox > .calendar > .head > .period,
.wui-datebox > .calendar > .body,
.wui-datebox > .calendar > .body > .week,
.wui-datebox > .calendar > .body > .week > div,
.wui-datebox > .calendar > .body > .days,
.wui-datebox > .calendar > .body > .days > div,
.wui-datebox > .calendar > .footer {
	display: flex;
}
.wui-datebox > .calendar {
	position: absolute;
	-webkit-border-radius: var(--wui-datebox-calendar-radius);
	-moz-border-radius: var(--wui-datebox-calendar-radius);
	border-radius: var(--wui-datebox-calendar-radius);
	border: 1px solid #ccc;
}
.wui-datebox > .calendar > .body > .month {
	width: 140px;
	flex-wrap: wrap;
}
.wui-datebox > .calendar > .body > .month > div {
	width: 20px;
	height: 20px;
}
.wui-datebox > .calendar > .body > .month > div:nth-child(-n + 7) {
	text-transform: uppercase;
	color: #ccc;
}