/* wui-datebox */

.wui-datebox,
.wui-datebox * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wui-datebox > input[type="date"] {
	outline: none;
	border: 0;
	background-color: transparent;
	font-family: inherit;
	font-size: 14px;
}
.wui-datebox > input[type="date"]:before {
	content: "";
	cursor: pointer;
	position: absolute;
	top: 4px;
	right: 0;
	width: var(--wui-datebox-pickerimage-size);
	height: var(--wui-datebox-pickerimage-size);
	background-repeat: no-repeat;
	background-image: var(--wui-datebox-pickerimage-out);
	background-size: var(--wui-datebox-pickerimage-size);
}
.wui-datebox > input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
.wui-datebox:hover > input[type="date"]:enabled:before,
.wui-datebox:focus-within > input[type="date"]:enabled:before {
	background-image: var(--wui-datebox-pickerimage-focus);
}
.wui-datebox:hover > input[type="date"]:disabled:before,
.wui-datebox:focus-within > input[type="date"]:disabled:before {
	background-image: var(--wui-datebox-pickerimage-disabled) !important;
}
.wui-datebox > .calendar,
.wui-datebox > .calendar > .head,
.wui-datebox > .calendar > .head > .period,
.wui-datebox > .calendar > .body,
.wui-datebox > .calendar > .body > .week,
.wui-datebox > .calendar > .body > .week > div,
.wui-datebox > .calendar > .body > .days,
.wui-datebox > .calendar > .body > .days > div,
.wui-datebox > .calendar > .footer {
	display: flex;
}
.wui-datebox > .calendar {
	--shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	--filter: blur(10px);
	--day-width: 30px;
	--day-height: 30px;
	position: absolute;
	z-index: 1;
	-webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
	-webkit-border-radius: var(--wui-datebox-calendar-radius);
	-moz-border-radius: var(--wui-datebox-calendar-radius);
	border-radius: var(--wui-datebox-calendar-radius);
	border: 1px solid var(--wui-datebox-calendar-bordercolor);
	background-color: var(--wui-datebox-calendar-bgcolor);
	-webkit-backdrop-filter: var(--filter);
	-moz-backdrop-filter: var(--filter);
	backdrop-filter: var(--filter);
	flex-direction: column;
}
.wui-datebox > .calendar > .head {
	height: 24px;
}
.wui-datebox > .calendar > .body {
	width: calc(7 * var(--day-width));
	flex-direction: column;
}
.wui-datebox > .calendar > .body > .week,
.wui-datebox > .calendar > .body > .days {
	flex-wrap: wrap;
}
.wui-datebox > .calendar > .body > .week {
	height: 20px;
}
.wui-datebox > .calendar > .body > .week > div {
	width: var(--day-width);
	text-transform: uppercase;
	color: #888;
}
.wui-datebox > .calendar > .body > .days {
	height: 120px;
}
.wui-datebox > .calendar > .body > .days > div {
	width: var(--day-width);
	height: var(--day-height);
}
.wui-datebox > .calendar > .footer {
	height: 24px;
	border-top: 1px solid var(--wui-datebox-calendar-bordercolor);
}