/* wui-timebox */

.wui-timebox,
.wui-timebox * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wui-timebox {
	width: 100%;
	height: 30px;
	margin: 0;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-image: none;
	background-size: var(--wui-timebox-pickerimage-size);
	padding-right: 2rem;
}
.wui-timebox > .inputs {
	display: flex;
	height: 100%;
	align-items: center;
}
.wui-timebox > .inputs > input[type="text"] {
	width: 20px;
	height: 100%;
	margin: 0;
	outline: none;
	border: 0;
	background-color: transparent;
	padding: 0;
	text-align: center;
	font-family: inherit;
	font-size: 14px;
}
.wui-timebox > .inputs > input[type="text"]:last-child {
	width: 24px;
}
.wui-timebox > .inputs > span {
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.wui-timebox > .background {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--wui-timebox-bgcolor);
}
.wui-timebox > .background.hidden {
	display: none;
}
.wui-timebox > .box,
.wui-timebox > .box * {
	display: flex;
}
.wui-timebox > .box {
	--shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	--filter: blur(10px);
	position: absolute;
	z-index: 101;
	width: 250px;
	height: 260px;
	-webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
	-webkit-border-radius: var(--wui-timebox-box-radius);
	-moz-border-radius: var(--wui-timebox-box-radius);
	border-radius: var(--wui-timebox-box-radius);
	border: 1px solid var(--wui-timebox-box-bordercolor);
	background-color: var(--wui-timebox-box-bgcolor);
	-webkit-backdrop-filter: var(--filter);
	-moz-backdrop-filter: var(--filter);
	backdrop-filter: var(--filter);
	flex-direction: column;
	padding: 5px;
}
.wui-timebox > .box.hidden {
	display: none;
}
.wui-timebox > .box > .lists {
	height: 220px;
	align-items: center;
	justify-content: center;
}
.wui-timebox > .box > .lists > ul {
	display: block;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 0 10px;
	list-style-type: none;
}
.wui-timebox > .box > .lists > ul::before,
.wui-timebox > .box > .lists > ul::after {
	content: "";
	display: block;
	width: 32px;
	height: calc(220px / 2  - 5px);
}
.wui-timebox > .box > .lists > ul > li {
	cursor: pointer;
	display: grid;
	width: 32px;
	height: 32px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	place-items: center;
	font-size: 14px;
	color: var(--wui-timebox-box-option-textcolor-out);
}
.wui-timebox > .box > .lists > ul > li:hover {
	background-color: var(--wui-timebox-box-option-bgcolor-over);
	color: var(--wui-timebox-box-option-textcolor-over);
}
.wui-timebox > .box > .lists > ul > li.now {
	background-color: var(--wui-timebox-box-option-bgcolor-now);
}
.wui-timebox > .box > .lists > ul > li.selected {
	background-color: var(--wui-timebox-box-option-bgcolor-selected);
	color: var(--wui-timebox-box-option-textcolor-selected);
}
.wui-timebox > .box > .footer {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	border-top: 1px solid var(--wui-timebox-box-bordercolor);
	align-items: center;
	justify-content: center;
	flex-grow: 0;
	flex-wrap: wrap;
}
.wui-timebox > .box > .footer > button {
	cursor: pointer;
	height: 100%;
	margin: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	background-color: transparent;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	text-transform: lowercase;
	font-size: 14px;
	color: var(--wui-timebox-box-button-textcolor-out);
}
.wui-timebox > .box > .footer > div:hover {
	color: var(--wui-timebox-box-button-textcolor-over);
}
.wui-timebox > .box > .footer > div.accept {
	font-weight: bold;
}
@media screen and (max-width: 767px) {
	.wui-timebox > input[type="text"] {
		font-size: 15px;
	}
	.wui-timebox > .background {
		display: block;
	}
	.wui-timebox > .box {
		--transform: translate(-50%, -50%);
		position: fixed;
		top: 50%;
		left: 50%;
		width: 300px;
		height: 310px;
		-webkit-transform: var(--transform);
		-moz-transform: var(--transform);
		transform: var(--transform);
	}
	.wui-timebox > .box > .lists {
		height: 260px;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: y mandatory;
		scrollbar-color: transparent transparent;
	}
	.wui-timebox > .box > .lists > ul::before,
	.wui-timebox > .box > .lists > ul::after {
		width: 32px;
		height: calc(260px / 2 - 5px);
	}
	.wui-timebox > .box > .lists > ul > li {
		width: 36px;
		height: 36px;
		font-size: 15px;
	}
	.wui-timebox > .box > .footer {
		height: 40px;
	}
	.wui-timebox > .box > .footer > button {
		font-size: 17px;
	}
}