/* wui-timebox */

.wui-timebox,
.wui-timebox * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wui-timebox,
.wui-timebox > input[type="time"] {
	width: 100%;
	margin: 0;
	border: 0;
	background-color: transparent;
}
.wui-timebox > input[type="time"] {
	height: 30px;
	outline: none;
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-image: none;
	background-size: var(--wui-timebox-pickerimage-size);
	padding-right: 2rem;
	font-family: inherit;
	font-size: 14px;
}
.wui-timebox > input[type="time"],
.wui-timebox > input[type="time"]::-webkit-date-and-time-value {
    padding-left: 0;
    text-align: left;
}
.wui-timebox > input[type="time"]::-webkit-calendar-picker-indicator {
	display: none;
	background: none;
}
/*.wui-timebox {
	display: flex;
}
.wui-timebox > input[type="time"] {
	display: none;
}
.wui-timebox > input[type="text"] {
	outline: none;
	width: 30px;
	margin: 0;
	padding: 0 !important;
	text-align: right;
	font-family: inherit;
	font-size: 14px;
}*/
.wui-timebox > .box,
.wui-timebox > .box * {
	display: flex;
}
.wui-timebox > .box {
	--shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	--filter: blur(10px);
	position: absolute;
	z-index: 1;
	width: 250px;
	height: 260px;
	-webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
	-webkit-border-radius: var(--wui-timebox-box-radius);
	-moz-border-radius: var(--wui-timebox-box-radius);
	border-radius: var(--wui-timebox-box-radius);
	border: 1px solid var(--wui-timebox-box-bordercolor);
	background-color: var(--wui-timebox-box-bgcolor);
	-webkit-backdrop-filter: var(--filter);
	-moz-backdrop-filter: var(--filter);
	backdrop-filter: var(--filter);
	flex-direction: column;
	padding: 5px;
}
.wui-timebox > .box.hidden {
	display: none;
}
.wui-timebox > .box > .select {
	height: 220px;
	justify-content: center;
	align-items: center;
}
.wui-timebox > .box > .select > ul {
	display: block;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 0 10px;
	list-style-type: none;
}
.wui-timebox > .box > .select > ul::before,
.wui-timebox > .box > .select > ul::after {
	content: "";
	display: block;
	width: 48px;
	height: 80px;
}
.wui-timebox > .box > .select > ul > li {
	cursor: pointer;
	display: grid;
	width: 48px;
	height: 32px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	place-items: center;
	color: var(--wui-timebox-box-option-textcolor-out);
}
.wui-timebox > .box > .select > ul > li:hover {
	background-color: var(--wui-timebox-box-option-bgcolor-over);
	color: var(--wui-timebox-box-option-textcolor-over);
}
.wui-timebox > .box > .select > ul > li.now {
	background-color: var(--wui-timebox-box-option-bgcolor-now);
}
.wui-timebox > .box > .select > ul > li.selected {
	background-color: var(--wui-timebox-box-option-bgcolor-selected);
	color: var(--wui-timebox-box-option-textcolor-selected);
}
.wui-timebox > .box > .footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	border-top: 1px solid var(--wui-timebox-box-bordercolor);
	justify-content: space-between;
}
.wui-timebox > .box > .footer > div {
	cursor: pointer;
	padding: 5px 10px;
	text-transform: lowercase;
	color: var(--wui-timebox-box-buttons-textcolor-out);
}
.wui-timebox > .box > .footer > div:hover {
	color: var(--wui-timebox-box-buttons-textcolor-over);
}
@media screen and (max-width: 767px) {
	.wui-timebox > input[type="time"] {
		font-size: 15px;
	}
}