/* wui-lightbox */

.wui-lightbox,
.wui-lightbox *,
.wui-lightbox *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wui-lightbox {
	display: none;
	position: fixed;
	z-index: 103;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	overflow: hidden;
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	justify-content: center;
	align-items: center;
	background-color: var(--wui-lightbox-bgcolor);
}
.wui-lightbox.priority {
	z-index: 104;
}
.wui-lightbox > .box {
	--shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	--filter: blur(10px);
	--transition: width .2s ease-out, height .2s ease-out;
	display: flex;
	position: absolute;
	overflow: hidden;
	-webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
	box-shadow: var(--shadow);
	-webkit-border-radius: var(--wui-lightbox-box-radius);
	-moz-border-radius: var(--wui-lightbox-box-radius);
	border-radius: var(--wui-lightbox-box-radius);
	background-color: var(--wui-lightbox-box-bgcolor);
	-webkit-backdrop-filter: var(--filter);
	-moz-backdrop-filter: var(--filter);
	backdrop-filter: var(--filter);
	flex-direction: column;
	-webkit-transition: var(--transition);
	-moz-transition: var(--transition);
	transition: var(--transition);
}
.wui-lightbox > .box.hidden {
	display: none;
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}
.wui-lightbox > .box > .header {
	display: flex;
	z-index: 2;
	flex-shrink: 0;
	width: 100%;
	height: 44px;
	padding-left: 80px;
	padding-right: 80px;
	justify-content: center;
    align-items: flex-end;
}
.wui-lightbox > .box > .header > .back,
.wui-lightbox > .box > .header > .back > .icon,
.wui-lightbox > .box > .header > .back > .text,
.wui-lightbox > .box > .header > .topbar,
.wui-lightbox > .box > .header > .title,
.wui-lightbox > .box > .header > .close {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.wui-lightbox > .box > .header > .back {
	display: flex;
	cursor: pointer;
	position: absolute;
	z-index: 1;
	top: 16px;
	left: 7px;
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-size: 14px;
	color: var(--wui-lightbox-back-textcolor);
}
.wui-lightbox > .box > .header > .back.hidden {
	display: none;
}
.wui-lightbox > .box > .header > .back > .icon {
	width: 14px;
	height: 14px;
	background-color: var(--wui-lightbox-back-textcolor);
}
.wui-lightbox > .box > .header > .topbar {
	display: none;
}
.wui-lightbox > .box > .header > .title {
	height: 28px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
    text-transform: var(--wui-lightbox-title-textcase);
	font-family: var(--wui-lightbox-title-textfont);
	font-weight: bold;
	font-size: 17px;
	color: var(--wui-lightbox-title-textcolor);
}
.wui-lightbox > .box > .header > .close {
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 10px;
	width: 24px;
	height: 24px;
}
.wui-lightbox > .box > .body {
	display: flex;
	overflow: hidden;
	flex-grow: 1;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 14px;
}
.wui-lightbox > .box > .body.scroll {
	overflow: auto !important;
}
.wui-lightbox > .box > .footer {
	display: flex;
	flex-grow: 0;
	height: 60px;
	border-top: 1px solid var(--wui-lightbox-footer-bordercolor);
	justify-content: center;
	align-items: center;
}
.wui-lightbox > .box > .footer > button {
	margin: 5px;
}
@media screen and (min-width: 600px) {
	.wui-lightbox > .box > .body.scroll {
		scrollbar-color: var(--wui-lightbox-body-scroll-bgcolor-out) transparent;
	}
	.wui-lightbox > .box > .body.scroll::-webkit-scrollbar {
		width: 4px;
		background-color: transparent;
	}
	.wui-lightbox > .box > .body.scroll::-webkit-scrollbar-thumb {
		border-radius: 2px;
		background-color: var(--wui-lightbox-body-scroll-bgcolor-out);
	}
	.wui-lightbox > .box > .body.scroll::-webkit-scrollbar-thumb:hover,
	.wui-lightbox > .box > .body.scroll::-webkit-scrollbar-thumb:active {
		background-color: var(--wui-lightbox-body-scroll-bgcolor-over);
	}
	.wui-lightbox > .box > .body.scroll::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

/* wui-lightbox mobile */

@media screen and (max-width: 599px) {
	.wui-lightbox.mobile > .box > .header > .back {
		top: 14px;
	}
	.wui-lightbox.mobile > .box > .header > .back > .icon {
		width: 14px;
		height: 14px;
	}
	.wui-lightbox.mobile > .box > .header > .back > .text {
		font-size: 14px;
	}
	.wui-lightbox.mobile > .box > .header > .title {
		font-size: 17px;
	}
	.wui-lightbox.mobile > .box > .body {
		font-size: 17px;
	}
	.wui-lightbox.mobile > .box > .body > .text p {
		font-size: 12px;
	}
	.wui-lightbox.mobile > .box > .footer {
		height: 48px;
		flex-wrap: wrap;
	}
	.wui-lightbox.mobile > .box > .footer > button {
		width: 50%;
		min-width: 100px;
		height: 100%;
		margin: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-color: transparent;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		background-color: transparent;
		flex-grow: 1;
		text-align: center;
		font-size: 17px;
	}
	.wui-lightbox.mobile > .box > .footer > button:hover,
	.wui-lightbox.mobile > .box > .footer > button:focus,
	.wui-lightbox.mobile > .box > .footer > button:focus-within {
		border-color: transparent;
		background-color: rgba(204, 204, 204, 0.3);
	}
	.wui-lightbox.mobile > .box > .footer > button.submit {
		font-weight: bold;
		color: var(--wui-button-submit-textcolor-mobile);
	}
	.wui-lightbox.mobile > .box > .footer > button.highlight {
		font-weight: bold;
		color: var(--wui-button-highlight-textcolor-mobile);
	}
}

/* wui-lightbox message */

.wui-lightbox.message > .box {
	width: var(--wui-lightbox-message-box-width);
	height: auto;
	overflow: hidden;
	min-height: 200px;
	background-color: var(--wui-lightbox-message-box-bgcolor);
}
.wui-lightbox.message > .box > .body {
	align-items: center;
	justify-content: center;
	font-size: 14px;
}
.wui-lightbox.message > .box > .body > .icon {
	width: 80px;
	height: 80px;
	margin-top: 20px;
}
.wui-lightbox.message > .box > .body > .text {
	padding: 20px;
	text-align: center;
	font-weight: bold;
	color: var(--wui-lightbox-message-box-textcolor);
}
.wui-lightbox.message > .box > .body > .text p {
	font-weight: normal;
	font-size: 13px;
}
.wui-lightbox.message > .box > .body > .text ul {
	padding-left: 20px;
}
.wui-lightbox.message > .box > .body > .text ul li {
	text-align: left;
	font-weight: normal;
	font-size: 13px;
}
.wui-lightbox.message > .box > .footer > button {
	min-width: 120px;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

/* wui-lightbox message mobile */

@media screen and (max-width: 599px) {
	.wui-lightbox.message.mobile > .box {
		width: var(--wui-lightbox-message-mobile-box-width);
	}
	.wui-lightbox.message.mobile > .box > .footer {
		height: 52px;
		border-top: 1px solid var(--wui-lightbox-message-mobile-footer-bordercolor);
	}
	.wui-lightbox.message.mobile > .box > .footer > button {
		margin-top: 0;
		margin-left: 0;
    	margin-right: 0;
		border-top: 0;
	}
	.wui-lightbox.message.mobile > .box > .footer > button:first-child {
		border-right: 1px solid var(--wui-lightbox-message-mobile-button-bordercolor);
	}
}

/* wui-lightbox page */

.wui-lightbox.page > .box {
	width: 100%;
	max-width: var(--wui-lightbox-page-box-width);
	height: var(--wui-lightbox-page-box-height);
	background-color: var(--wui-lightbox-page-box-bgcolor);
}
.wui-lightbox.page > .box > .header {
	border-bottom: 1px solid var(--wui-lightbox-page-header-bordercolor);
}
.wui-lightbox.page > div[data-scroll-body="0"].box > .header,
.wui-lightbox.page > div[data-scroll-body="null"].box > .header {
	border-bottom-color: transparent;
}
.wui-lightbox.page > .box > .header.border {
	border-bottom-width: 1px !important;
	border-bottom-color: var(--wui-lightbox-page-header-bordercolor) !important;
}
.wui-lightbox.page.small > .box {
	width: var(--wui-lightbox-smallpage-box-width);
	height: var(--wui-lightbox-smallpage-box-height);
}

/* wui-lightbox page mobile */

@media screen and (max-width: 599px) {
	.wui-lightbox.page.mobile > .box {
		top: 100%;
		bottom: 0;
		width: 100%;
		height: auto;
		-webkit-border-top-left-radius: var(--wui-lightbox-box-radius);
		-webkit-border-top-right-radius: var(--wui-lightbox-box-radius);
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius-topleft: var(--wui-lightbox-box-radius);
		-moz-border-radius-topright: var(--wui-lightbox-box-radius);
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-bottomright: 0;
		border-top-left-radius: var(--wui-lightbox-box-radius);
		border-top-right-radius: var(--wui-lightbox-box-radius);
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.wui-lightbox.page.mobile > .box > .header > .topbar {
		display: block;
		position: absolute;
		z-index: 1;
		top: 10px;
		left: 50%;
		width: 100px;
		height: 30px;
    	margin-left: -50px;
	}
	.wui-lightbox.page.mobile > .box > .header > .topbar::before {
		--radius: calc(var(--wui-lightbox-topbar-height) / 2);
		content: "";
		display: block;
		width: 100px;
		height: var(--wui-lightbox-topbar-height);
		-webkit-border-radius: var(--radius);
		-moz-border-radius: var(--radius);
		border-radius: var(--radius);
		background-color: var(--wui-lightbox-page-header-topbar-bgcolor);
	}
	.wui-lightbox.page.mobile.maximized > .box,
	.wui-lightbox.page.mobile.small.maximized > .box {
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		-webkit-transition-duration: .1s;
		-moz-transition-duration: .1s;
		transition-duration: .1s;
	}
}
@media screen and (min-width: 600px) {
	.wui-lightbox.page.mobile > .box {
		top: auto !important;
		bottom: auto !important;
		max-height: var(--wui-lightbox-page-box-maxheight);
	}
}

/* wui-button */

.wui-lightbox > .box .footer .wui-button {
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
}