/* wui-range */

.wui-range,
.wui-range * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wui-range {
	--shadow: 0 0 2px 0 rgba(0, 0, 0, .4);
	--transition: background .2s ease-in-out;
	width: 100%;
}
.wui-range > input[type="range"] {
	--gradient: var(--wui-range-trackbar-bgcolor-active), var(--wui-range-trackbar-bgcolor-active);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: var(--wui-range-trackbar-height);
	-webkit-border-radius: calc(var(--wui-range-trackbar-height) / 2);
	-moz-border-radius: calc(var(--wui-range-trackbar-height) / 2);
	border-radius: calc(var(--wui-range-trackbar-height) / 2);
	border: var(--wui-range-trackbar-borderwidth) solid var(--wui-range-trackbar-bordercolor);
	background-color: transparent;
	background-image: -webkit-linear-gradient(var(--gradient));
    background-image: -moz-linear-gradient(var(--gradient));
    background-image: -o-linear-gradient(var(--gradient));
    background-image: linear-gradient(var(--gradient));
	background-size: 0% 100%;
	background-repeat: no-repeat;
}
.wui-range > input[type="range"]::-webkit-slider-thumb {
	height: var(--wui-range-thumb-size);
	width: var(--wui-range-thumb-size);
	-webkit-appearance: none;
	-webkit-box-shadow: var(--shadow);
	-webkit-border-radius: 50%;
	-webkit-transition: var(--transition);
}
.wui-range > input[type="range"]::-moz-range-thumb {
	height: var(--wui-range-thumb-size);
	width: var(--wui-range-thumb-size);
	-moz-appearance: none;
	-moz-box-shadow: var(--shadow);
	-moz-border-radius: 50%;
	-moz-transition: var(--transition);
}
.wui-range > input[type="range"]::-ms-thumb {
	height: var(--wui-range-thumb-size);
	width: var(--wui-range-thumb-size);
	appearance: none;
	box-shadow: var(--shadow);
	border-radius: 50%;
	transition: var(--transition);
}
.wui-range > input[type="range"]:not(:enabled) {
	--gradient: var(--wui-range-trackbar-bgcolor-disabled), var(--wui-range-trackbar-bgcolor-disabled);
}
.wui-range > input[type="range"]:not(:enabled):hover {
	--gradient: var(--wui-range-trackbar-bgcolor-disabled), var(--wui-range-trackbar-bgcolor-disabled);
}
.wui-range > input[type="range"]:enabled:hover {
	--gradient: var(--wui-range-trackbar-bgcolor-over), var(--wui-range-trackbar-bgcolor-over);
}
.wui-range > input[type="range"]:enabled::-webkit-slider-thumb {
	cursor: ew-resize;
	background-color: var(--wui-range-thumb-bgcolor-out);
}
.wui-range > input[type="range"]:enabled::-webkit-slider-thumb:hover {
	background-color: var(--wui-range-thumb-bgcolor-over);
}
.wui-range > input[type="range"]:not(:enabled)::-webkit-slider-thumb {
	background-color: var(--wui-range-thumb-bgcolor-disabled);
}
.wui-range > input[type="range"]:enabled::-moz-range-thumb {
	cursor: ew-resize;
	background-color: var(--wui-range-thumb-bgcolor-out);
}
.wui-range > input[type="range"]:enabled::-moz-range-thumb:hover {
	background-color: var(--wui-range-thumb-bgcolor-over);
}
.wui-range > input[type="range"]:not(:enabled)::-moz-range-thumb {
	background-color: var(--wui-range-thumb-bgcolor-disabled);
}
.wui-range > input[type="range"]:enabled::-ms-thumb {
	cursor: ew-resize;
	background-color: var(--wui-range-thumb-bgcolor-out);
}
.wui-range > input[type="range"]:enabled::-ms-thumb:hover {
	background-color: var(--wui-range-thumb-bgcolor-over);
}
.wui-range > input[type="range"]:not(:enabled)::-ms-thumb {
	background-color: var(--wui-range-thumb-bgcolor-disabled);
}
.wui-range > input[type="range"]::-webkit-slider-runnable-track  {
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	border: none;
	background: transparent;
}
.wui-range > input[type="range"]::-moz-range-track {
	-moz-appearance: none;
	-moz-box-shadow: none;
	border: none;
	background: transparent;
}
.wui-range > input[type="range"]::-ms-track {
	-ms-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}