/* wui-colorpicker */

.wui-colorpicker,
.wui-colorpicker * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wui-colorpicker {
	width: auto;
	height: 30px;
	margin: 0;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-image: none;
	background-size: var(--wui-colorpicker-pickerimage-size);
	padding-right: 0;
}
.wui-colorpicker > input[type="color"] {
	display: none;
}
.wui-colorpicker > button {
	--button-radius: calc(var(--wui-colorpicker-button-size) / 2);
	--button-transition: border-color .2s ease-out;
	display: flex;
	cursor: pointer;
	position: relative;
	width: calc(1.9 * var(--wui-colorpicker-button-size));
	height: var(--wui-colorpicker-button-size);
	outline: none;
	margin: 0;
	overflow: hidden;
	-webkit-border-radius: var(--button-radius);
	-moz-border-radius: var(--button-radius);
	border-radius: var(--button-radius);
	border-width: 1px;
	border-style: solid;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 2px;
	-webkit-transition: var(--button-transition);
	-moz-transition: var(--button-transition);
	transition: var(--button-transition);
}
.wui-colorpicker:not(.disabled) > button {
	border-color: var(--wui-colorpicker-bordercolor-out);
	background-color: var(--wui-colorpicker-bgcolor-out);
}
.wui-colorpicker:not(.disabled):hover > button,
.wui-colorpicker:not(.disabled):focus-within > button {
	border-color: var(--wui-colorpicker-bordercolor-over);
	background-color: var(--wui-colorpicker-bgcolor-over);
}
.wui-colorpicker.disabled {
	border-color: var(--wui-colorpicker-bordercolor-disabled);
	background-color: var(--wui-colorpicker-bgcolor-disabled);
}
.wui-colorpicker > button > .preview {
	--preview-size: calc(var(--wui-colorpicker-button-size) - 6px);
	width: var(--preview-size);
	height: var(--preview-size);
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border-width: var(--wui-colorpicker-preview-borderwidth);
	border-style: solid;
	border-color: var(--wui-colorpicker-preview-bordercolor);
}
.wui-colorpicker > button > .preview.empty {
	border-width: 5px;
}
.wui-colorpicker > .background {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--wui-colorpicker-bgcolor);
}
.wui-colorpicker > .background.hidden {
	display: none;
}
.wui-colorpicker > .box,
.wui-colorpicker > .box * {
	display: flex;
}
.wui-colorpicker > .box {
	--box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	--box-filter: blur(10px);
	position: absolute;
	z-index: 101;
	right: 0;
	width: 250px;
	height: 260px;
	-webkit-box-shadow: var(--box-shadow);
	-moz-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
	-webkit-border-radius: var(--wui-colorpicker-box-radius);
	-moz-border-radius: var(--wui-colorpicker-box-radius);
	border-radius: var(--wui-colorpicker-box-radius);
	border: 1px solid var(--wui-colorpicker-box-bordercolor);
	background-color: var(--wui-colorpicker-box-bgcolor);
	-webkit-backdrop-filter: var(--box-filter);
	-moz-backdrop-filter: var(--box-filter);
	backdrop-filter: var(--box-filter);
	flex-direction: column;
	padding: 5px;
}
.wui-colorpicker > .box.hidden {
	display: none;
}
/*
.wui-colorpicker > .box > .options,
.wui-colorpicker > .box > .options > .option {
	display: flex;
	position: relative;
	flex-grow: 1;
	flex-shrink: 0;
}
.wui-colorpicker > .box > .options {
	max-height: calc(calc(10 * 30px) - 1px);
	overflow: hidden;
	-webkit-border-radius: var(--wui-colorpicker-box-radius);
	-moz-border-radius: var(--wui-colorpicker-box-radius);
	border-radius: var(--wui-colorpicker-box-radius);
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
}
.wui-colorpicker > .box > .options > .option {
	width: 100%;
	height: 30px;
	background-color: var(--wui-colorpicker-box-option-bgcolor-out);
	padding: 0 10px;
	align-items: center;
	gap: 10px;
}
.wui-colorpicker > .box > .options > .option > .icon {
	visibility: hidden;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}
.wui-colorpicker > .box > .options > .option > .icon:not([class$="color"]) {
	background-color: var(--wui-colorpicker-box-option-iconcolor-out);
}
.wui-colorpicker > .box > .options > .option > .icon.visible,
.wui-colorpicker > .box > .options > .option.selected > .icon {
	visibility: visible;
}
.wui-colorpicker > .box > .options > .option > .text {
	cursor: default;
	overflow: hidden;
	flex-grow: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: var(--wui-colorpicker-box-option-textcolor-out);
}
.wui-colorpicker > .box > .options > .option.selected > .text.selecteable {
	color: var(--wui-colorpicker-box-option-textcolor-selected) !important;
}
.wui-colorpicker > .box > .options > .option > .text > .empty {
	-khtml-opacity: .7;
	-moz-opacity: .7;
	opacity: .7;
}
.wui-colorpicker > .box > .options > .option:not(.disabled):hover,
.wui-colorpicker > .box > .options > .option:not(.disabled):focus,
.wui-colorpicker > .box > .options > .option:not(.disabled):focus-within {
	border-color: var(--wui-colorpicker-box-option-bordercolor-over);
	background-color: var(--wui-colorpicker-box-option-bgcolor-over);
}
.wui-colorpicker > .box > .options > .option:not(.disabled):hover > .icon,
.wui-colorpicker > .box > .options > .option:not(.disabled):focus > .icon,
.wui-colorpicker > .box > .options > .option:not(.disabled):focus-within > .icon {
	background-color: var(--wui-colorpicker-box-option-iconcolor-over);
}
.wui-colorpicker > .box > .options > .option:not(.disabled):hover > .text,
.wui-colorpicker > .box > .options > .option:not(.disabled):focus > .text,
.wui-colorpicker > .box > .options > .option:not(.disabled):focus-within > .text {
	color: var(--wui-colorpicker-box-option-textcolor-over);
}
.wui-colorpicker > .box > .options > .option.disabled > .icon {
	background-color: var(--wui-colorpicker-box-option-iconcolor-disabled);
}
.wui-colorpicker > .box > .options > .option.disabled > .text {
	color: var(--wui-colorpicker-box-option-textcolor-disabled);
}*/
.wui-colorpicker > .box > .footer {
	display: flex;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	border-top: 1px solid var(--wui-colorpicker-box-bordercolor);
	align-items: center;
	justify-content: center;
	flex-grow: 0;
	flex-wrap: wrap;
}
.wui-colorpicker > .box > .footer > button {
	cursor: pointer;
	height: 100%;
	margin: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	background-color: transparent;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	text-transform: lowercase;
	font-size: 14px;
	color: var(--wui-colorpicker-box-button-textcolor-out);
}
.wui-colorpicker > .box > .footer > button:hover {
	color: var(--wui-colorpicker-box-button-textcolor-over);
}
.wui-colorpicker > .box > .footer > button.accept {
	font-weight: bold;
}
@media screen and (max-width: 767px) {
	.wui-colorpicker > .background {
		display: block;
	}
	.wui-colorpicker > .box {
		--box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
		--box-transform: translate(-50%, -50%);
		position: fixed;
		top: 50%;
		left: 50%;
		width: 300px;
		height: 310px;
		-webkit-box-shadow: var(--box-shadow);
		-moz-box-shadow: var(--box-shadow);
		box-shadow: var(--box-shadow);
		-webkit-transform: var(--box-transform);
		-moz-transform: var(--box-transform);
		transform: var(--box-transform);
	}
	/*.wui-colorpicker > .box > .options {
		max-height: calc(calc(10 * 44px) - 1px);
		-webkit-border-top-left-radius: var(--wui-modal-box-radius);
		-webkit-border-top-right-radius: var(--wui-modal-box-radius);
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius-topleft: var(--wui-modal-box-radius);
		-moz-border-radius-topright: var(--wui-modal-box-radius);
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-bottomright: 0;
		border-top-left-radius: var(--wui-modal-box-radius);
		border-top-right-radius: var(--wui-modal-box-radius);
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.wui-colorpicker > .box > .options > .option {
		height: 44px;
	}
	.wui-colorpicker > .box > .options > .option:not(:last-child) {
		border-bottom: 1px solid var(--wui-colorpicker-box-option-bordercolor-out);
	}*/
	.wui-colorpicker > .box > .footer {
		height: 40px;
	}
	.wui-colorpicker > .box > .footer > button {
		font-size: 17px;
	}
}